<h1>welcome to create short.com</h1>
<p>Please enter your URL here:</p>
<script src="/assets/jquery.js" type="text/javascript"></script>
<%= form_for [@post, Link.new], :remote => true do |f| %>
  <div class="field">
    <%= f.text_area :url, class: "form-control col-lg-8"%>

  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>




<div class="button">
  <%= render :partial => 'links/index' %>
</div>