<h1>welcome to short.com</h1>
<p>Please enter your URL here:</p>

<%= form_for @link, method: :create, remote: true do |f| %>
  <div class="field">
    <%= f.text_area :url, class: "form-control col-lg-8"%>

  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "button" %>
  </div>
<% end %>


<div class="button">
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".button").submit(function(e) {
      $(".button").hide();
    });
  });
</script>